extends layout

block content
  div.error-container
    h1.error-title Página no encontrada
    p.error-message Lo sentimos, la página que buscas no existe.
    div.error-actions
      a.btn-primary(href="/inicio")
        i.fas.fa-home
        span Volver al inicio 