extends layout

block content
  div.card.login-card
    h2.card-title Iniciar Sesi칩n
    
    if error
      div.alert.alert-danger
        | #{error}

    form(action="/login", method="POST")
      div.form-group
        label.form-label(for="username") Usuario:
        input.form-control(type="text", name="username", required, placeholder="Ingresa tu usuario")
      div.form-group
        label.form-label(for="password") Contrase침a:
        input.form-control(type="password", name="password", required, placeholder="Ingresa tu contrase침a")
      div.form-actions
        button.btn-primary(type="submit")
          i.fas.fa-sign-in-alt
          span Iniciar Sesi칩n
        a.btn-secondary(href="/register")
          i.fas.fa-user-plus
          span Registrarse
